.checkoutProduct{
  display:flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

.checkoutProduct_info{
  padding-left:20px;
}

.checkoutProduct_info button {
  background-color: #007bff; /* Set the background color */
  color: #fff; /* Set the text color */
  padding: 10px 25px; /* Add padding for better spacing */
  border: none;
  border-radius: 5px; /* Add border-radius for rounded corners */
  cursor: pointer;
  transition: background-color 0.3s; /* Add a smooth transition effect */

  /* Additional styles for hover effect */
}

.checkoutProduct button:hover {
  background-color: #0056b3; /* Change the background color on hover */
}



.checkoutProduct_rating{
  display:flex;
}

.checkoutProduct_image{
  object-fit:contain;
  width: 180px;
  height:180px;
}

.checkoutProduct_title{
  font-size: 17px;
  font-weight: 400;
}