.subtotal{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  width:300px;
  height:100px;
  padding:20px;
  background-color: #f3f3f3;
  border:1px solid #dddddd;
  border-radius: 3px;
}

.subtotal button {
  background-color: #007bff; /* Set the background color */
  color: #fff; /* Set the text color */
  padding: 10px 25px; /* Add padding for better spacing */
  border: none;
  border-radius: 5px; /* Add border-radius for rounded corners */
  cursor: pointer;
  transition: background-color 0.3s; /* Add a smooth transition effect */

  /* Additional styles for hover effect */
}

.subtotal button:hover {
  background-color: #0056b3; /* Change the background color on hover */
}
